<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="quadruped_robot">

<!-- Include left leg xacro macroses -->
<xacro:include filename="$(find quadruped_robot)/urdf/left_leg.urdf"/>
<xacro:include filename="$(find quadruped_robot)/urdf/right_leg.urdf"/>


    <!-- Used for fixing robot to Gazebo 'base_link' -->
  <!-- <link name="world"/>

  <joint name="world_body" type="fixed">
    <parent link="world"/>
    <child link="body"/>
    <origin rpy="0 0 0" xyz="0 0 0.5"/>
  </joint> -->

  <link
    name="body">
    <inertial>
      <origin
        xyz="0.00595967385992909 0.00347011518192815 0.000128724144476447"
        rpy="0 0 0" />
      <mass
        value="0.614376972447432" />
      <inertia
        ixx="0.00336941139420018"
        ixy="-4.8575988980422E-08"
        ixz="-1.3625652345197E-09"
        iyy="0.000289319263053727"
        iyz="-7.81791291078526E-08"
        izz="0.00317576464583023" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quadruped_robot/meshes/body.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.117647058823529 0.117647058823529 0.117647058823529 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://quadruped_robot/meshes/body.STL" />
      </geometry>
    </collision>
  </link>

  <!-- LEFT FORWARD LEG -->
  <xacro:left_motor link_prefix="left_forward" joint_xyz="0.065 -0.178 0" joint_rpy="1.5708 0 0" /> 

  <xacro:left_leg link_prefix="left_forward" joint_xyz="0 0 0.057" joint_rpy="0 0 0" /> 

  <xacro:left_hip link_prefix="left_forward" joint_xyz="0.01425 0 0" joint_rpy="0 1.5708 0" /> 

  <xacro:left_calf link_prefix="left_forward" joint_xyz="0 -0.208 0.068" joint_rpy="0 0 3.1416" /> 


  <!-- RIGHT BACK LEG -->

  <xacro:left_motor link_prefix="right_back" joint_xyz="-0.065 0.178 0" joint_rpy="1.5708 0 3.1416" /> 

  <xacro:left_leg link_prefix="right_back" joint_xyz="0 0 0.057" joint_rpy="0 0 0" /> 

  <xacro:left_hip link_prefix="right_back" joint_xyz="0.01425 0 0" joint_rpy="0 1.5708 0" /> 

  <xacro:left_calf link_prefix="right_back" joint_xyz="0 -0.208 0.068" joint_rpy="0 0 3.1416" /> 





  <!-- LEFT BACK LEG -->

  <xacro:right_motor link_prefix="left_back" joint_xyz="0.065 0.178 0" joint_rpy="-1.5707963267949 0 0" /> 

  <xacro:right_leg link_prefix="left_back" joint_xyz="0 0 0.057" joint_rpy="0 0 0" />

  <xacro:right_hip link_prefix="left_back" joint_xyz="0.01425 0 0" joint_rpy="0 1.5708 0" /> 

  <xacro:right_calf link_prefix="left_back" joint_xyz="-0.003139 0.20789 0.055" joint_rpy="0 0 0" /> 
  
  <!-- RIGHT FORWARD LEG -->

  <xacro:right_motor link_prefix="right_forward" joint_xyz="-0.065 -0.178 0" joint_rpy="-1.5707963267949 0 3.1416" /> 

  <xacro:right_leg link_prefix="right_forward" joint_xyz="0 0 0.057" joint_rpy="0 0 0" />

  <xacro:right_hip link_prefix="right_forward" joint_xyz="0.01425 0 0" joint_rpy="0 1.5708 0" /> 

  <xacro:right_calf link_prefix="right_forward" joint_xyz="-0.003139 0.20789 0.055" joint_rpy="0 0 0" /> 


  
</robot>