<?xml version="1.0"?>
<launch>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
	<arg name="paused" value="true"/>
	</include>

	<param name="robot_description" command="xacro --inorder '$(find quadruped_robot)/urdf/quadruped_control.urdf'"/>
<!---->	
	<node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" 
		args="-urdf -model quadruped_robot -param robot_description -z 0.5">
	</node>
 
   <rosparam file="$(find quadruped_control)/launch/controller/quadruped_control_torque.yaml" command="load"/>


  <!-- load the controllers -->

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/quadruped" args="joint_state_controller FL_hip_Effort_controller FL_thigh_Effort_controller FL_calf_Effort_controller FR_hip_Effort_controller FR_thigh_Effort_controller FR_calf_Effort_controller RL_hip_Effort_controller RL_thigh_Effort_controller RL_calf_Effort_controller RR_hip_Effort_controller RR_thigh_Effort_controller RR_calf_Effort_controller  --timeout 50"/>

<!-- FR_hip_Effort_controller FR_thigh_Effort_controller FR_calf_Effort_controller FL_hip_Effort_controller FL_thigh_Effort_controller FL_calf_Effort_controller RL_hip_Effort_controller RL_thigh_Effort_controller RL_calf_Effort_controller RR_hip_Effort_controller RR_thigh_Effort_controller RR_calf_Effort_controller -->
	<!-- <node pkg="cheetah_control" name="mtnode" type="control_pos.py" output="screen"> 
	</node> -->
					
</launch>